.bg-img {
    background-image: url("../src/assets/bg/pexels-eberhard-grossgasteiger-1287142.jpg");
    height: 45vh;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
}

.content {
    padding-top: 2rem;
}

.heading {
    text-align: center;
}

.todo-wrapper {
    width: 50%;
    margin: auto;
}

.todo-tabs {
    cursor: pointer;
}

.todo-tabs ul {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;
    padding: 1.1em;
}

.todo-tabs ul li {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.09em;
}

.todo-tabs ul li.active {
    color: #204fdd;
}

.todo-items ul li {
    list-style: none;
}

.strikeout {
    text-decoration: line-through;
}

.create-todo {
    display: flex;
    justify-content: flex-start;
    margin-top: 2.5em;
    width: 100%;
}

.todo-items{
    background-color: #F1EAFF;
    padding: 1em 0;
    border-radius: 25px;
    min-height: 50vh
}

/* @media screen and (max-width: 1199px) {
  
}


@media screen and (max-width: 991px) {

} */

/* @media screen and (max-width: 767px) {
     
} */

/* @media screen and (max-width: 350px) {
   
}

@media screen and (min-width: 1024px) {
 
} */